@font-face {
    font-family: Hatton; 
    src: url('../fonts/PP\ Hatton\ Bold\ 700.otf');
 } 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
}
.top-bar{
    height: 7vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 1000;
}
.menuIcon{
    padding-right: 20px;
    color:white;
    font-size: 25px;
    display: none;
}
.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    padding-left: 10px;
    color:white;
    font-family: 'Hatton', serif;
}
.logo img{
    width: 3vw;
    height: 2vw;
}
.nav-bar{
    padding-right: 10px;
}
.nav-bar ul{
    flex: 1;
    font-size: 1.3vw;
    padding-top: 15px;
}
.nav-bar ul li{
    /* flex: 1; */
    list-style: none;
    display:inline-block;
    padding-right: 20px;
    position: relative;
}
.nav-bar ul li a{
    text-decoration: none;
    color:white;
}
.nav-bar ul li::after{
    content: '';
    height: 2px;
    background: white;
    width: 0%;
    margin: auto;
    display: block;
    transition: 0.5s;
}
.nav-bar ul li:hover:after{
    width: 100%;
}
/* -----------------------------Page1---------------------------- */
.page1{
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
}
.page1 p{
    color:black;
    font-size: 8vw;
    letter-spacing: 2vw;
    font-family: 'Hatton', serif;
}
.marbleDiv{
    height: 50vh;
    width: 10vw;
    background-image: url('../images/marble.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 8vw;
    color: black;
    font-family: 'Hatton', serif;
}

/* -------------------------------------------- Page 2------------------------------ */
.page2{
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../images/bg_page2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}    

.features{
    height: 82vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    background-color: white;
    font-size: 1.3vw;
    border: 3px solid black;
    padding: 0px 25px 0px 25px;
    border-radius: 10px;
}
.features span{
    font-style: italic;
    font-weight: 900;
    padding-left: 10px;
    font-size: 3vw;
}
#comngDiv{
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    transition: 2s;
    animation: comngs 5s infinite;
    content: 'Co';
}
@keyframes comngs{
    /* 0% {content: 'C';}
    8% {content: 'Co';}
    16% {content: 'Com';}
    24% {content: 'Comm';}
    32% {content: 'Commi';}
    40% {content: 'Commin';}
    48% {content: 'Comming S';}
    56% {content: 'Comming So';}
    64% {content: 'Comming Soo';}
    72% {content: 'Comming Soon';}
    80% {content: 'Comming Soon.';}
    88% {content: 'Comming Soon..';}
    96% {content: 'Comming Soon...';} */
    0% {color: white;}
    50% {color: black;}
    100% {color: white;} 
}
.registerDiv{
    height: 82vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color:black;
    background-color: white;
    font-size: 1.3vw;
    border: 3px solid black;
    padding: 10px 5px 0px 25px;
    border-radius: 10px;
    text-align: justify;
}


@media screen and (max-width:425px) {
    .logo img{
        width:25px;
        height: 25px;
    }
    .nav-bar ul{
        width: 100%;
        top:40px;
        right: 0;
        position: absolute;
        display: none;
        max-height: 300px;
        background-color: black;
    }
    .nav-bar ul li{
        display:block;
    }
    .nav-bar ul li a{
        font-size: 3vh;
    }
    .menuIcon{
        display: block;
    }
    .marbleDiv{
        width:25vw;
        height: 30vh;
    }
    .page2{
        flex-direction: column;
        height: auto;
    }
    .features{
        width: 90vw;
        height: auto;
        margin: 8vh 0px 5px 0px;
        font-size: 1.5vh;
    }
    .features span{
        font-size: 3vh;
    }
    .registerDiv{
        width:90vw;
        height: auto;
        margin: 5px 0px 5px 0px;
        font-size: 1.5vh;
    }
}